* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7; 
    color: #333; 
    line-height: 1.6;
    padding: 20px;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #0073e6; 
    color: white;
    border-radius: 8px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: bold;
    width: auto;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
section {
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
section h2 {
    color: #4caf50; 
    margin-bottom: 10px;
}
.about{
    background-color: #f4f4f4;
    margin-left:20px;
    padding:5px;
    border-left: 5px solid #4caf50;
    margin-bottom: 10px;
}
.count-down{
    cursor: pointer;
}
.count-down:hover{
    opacity: 0.8;
}
ul {
    list-style-type: none;
    padding-left: 20px;
}
ul li {
    padding-left: 5px;
    margin-bottom: 10px;
    background-color: #f4f4f4; 
    border-left: 5px solid #4caf50; 
}
.study-video {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    margin-top: 10px;
}
footer {
    text-align: center;
    margin-top: 20px;
    background-color: #333; 
    color: white;
    padding: 10px;
    border-radius: 8px;
}
footer a {
    color: #ff6347; 
    text-decoration: none;
}
footer a:hover {
    color: #f1c40f; 
}
.typing {
    font-size: 3em;
    font-weight: bold;
    color: #fff; 
    border-right: 3px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(30, end) 1.5s infinite, blink 0.5s step-end 4;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
}
@keyframes typing {
    0% {
        width: 0;
    }
    60% {
        width: 70%;
    }
    80% {
        width: 70%;
    }
    100% {
        width: 0;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}